* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  max-width: 1400px;
}

.navbar {
  background-color: #323232;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navbar {
    justify-content: left;
    flex-direction: row;
  }
}
.navbar__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 300;
  margin: auto;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .navbar__title {
    font-size: 2rem;
    margin: 0px 50px 0 30px;
    padding: 20px 10px;
  }
}
@media (min-width: 1280px) {
  .navbar__title {
    font-size: 3rem;
    margin: 0px 50px 0 100px;
    padding: 20px 10px;
  }
}

a:link {
  color: #AFAFAF;
}

a:visited {
  color: #AFAFAF;
}

a:hover, a:active {
  color: #FFFFFF;
}

.hero {
  background-color: rgba(50, 50, 50, 0.5);
  background-image: url(../../assets/Images/hero-bio.jpg);
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: left;
}
@media (min-width: 768px) {
  .hero {
    padding: 0px 36px;
  }
}
.hero h1 {
  color: #FFFFFF;
  margin: auto 20px;
  font-size: 3rem;
  font-weight: 600;
}

.biography {
  display: flex;
  flex-direction: column;
}
.biography h3 {
  font-size: 2rem;
  font-weight: 600;
  padding: 24px 16px 16px 16px;
}
.biography img {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px 16px 16px;
  height: 35vh;
}
@media (min-width: 768px) {
  .biography img {
    padding: 20px 48px 24px 48px;
  }
}
.biography__quote {
  padding: 0 16px 16px 16px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .biography__quote {
    padding: 20px 36px 24px 36px;
    font-size: 1.5rem;
  }
}
.biography__quote--name {
  padding: 0 16px 16px 16px;
}
@media (min-width: 768px) {
  .biography__quote--name {
    padding: 0px 36px 24px 36px;
    font-size: 1rem;
    font-weight: 500;
  }
}
.biography__description {
  padding: 0 16px 16px 16px;
}
.biography__description--container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .biography__description--container {
    padding: 20px 36px 24px 36px;
    flex-direction: row;
    width: 100%;
  }
}
.biography__description--title {
  padding: 0 16px 16px 16px;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .biography__description--title {
    padding: 20px 36px 24px 36px;
    width: 100%;
    font-weight: 500;
    font-size: 2rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__title {
  font-weight: 500;
  font-size: 2rem;
  padding-left: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .gallery__title {
    padding-left: 46px;
    padding-top: 36px;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 36px;
  }
}
.gallery__container img {
  padding: 16px;
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__container img {
    width: 30%;
    padding: 10px;
  }
}/*# sourceMappingURL=styles.css.map */