@use './variables' as *;
@use './mixins' as *;

.form {

&__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem;
}

&__container {

    label {
        color: $secondary-text-color;
    }
}
}