@use './variables' as *;
@use './mixins' as *;

.gallery {
    background-color: $alt-light-background;
    padding: 1rem;

    &__title{
        font-weight: 500 ;
        font-size: 2rem;
        padding-bottom: 1rem;
    

        @include tablet {
            font-size: 3rem;
            padding-left: 1rem;
            padding-top: 2.25rem;
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
        

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0rem;
        }

       
        
        img {
            padding-bottom: 1rem;
            margin: auto;
            width: 100%;
            
            @include tablet {
                width: 30%;
                padding: 1rem 0rem;
            }
        }
       

    }
}