@use './variables' as *;
@use './mixins' as *;

.hero {
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: left;

        @include tablet {
            padding: 0rem 2.25rem;
        }


    h1 {
        color: $primary-text-light;
        margin: auto 1.25rem;
        font-size: 2rem;
        font-weight: 600;

        @include tablet {
           font-size: 3rem;
           }
    }

    &__index {
    background: linear-gradient(rgba(50, 50, 50, .5), rgba(0, 0, 0, 0.5)), url(../../assets/Images/hero-bio.jpg);
    height: 40vh;
    }

    &__shows {
        background: linear-gradient(rgba(50, 50, 50, .5), rgba(0, 0, 0, 0.5)), url(../../assets/images/hero-shows.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        height: 40vh;

        @include tablet {
        padding-top: 2rem;
        height: 50vh;
        }

        @include desktop {
            flex-direction: row;
            height: 70vh;
        }
    }

    &__title {
        color: $primary-text-light;
        padding: 2rem 1rem 1rem 1rem;
        font-size: 1.5rem;

        @include desktop {
            font-size: 2rem;
        }

        
        &-container {
            display: block;
            width: 75%;

            @include tablet {
                width: 60%;
            }

            @include desktop {
                padding: 10rem;
                width: 60%;
            }
            }
        
     

        &-sub {
            color: $primary-text-light;
            padding: 1rem 3rem 1rem 1rem;
            font-size: 2.7rem;
            font-weight: 500;
            
            @include desktop {
                font-size: 4rem;
            }
        }
    }

    iframe{
        width: 90%;
        height: 15vh;
        margin: auto;
        padding: 1rem 0;
        border-radius: 2%;

        @include tablet {
            width: 40%;
            margin: 1rem ;
        }

        @include desktop {
            margin-top: 15rem;
            height: 22vh;
            border-radius: 6%;
            width: 35%;
        }

        
    }
}