@use './variables' as *;
@use './mixins' as *;

.hero {
    background: linear-gradient(rgba(50, 50, 50, .5), rgba(0, 0, 0, 0.5)), url(../../assets/Images/hero-bio.jpg);
    background-size: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: left;

    @include tablet {
     padding: 0px 36px;
    }

    h1 {
        color: $primary-text-light;
        margin: auto 20px;
        font-size: 2rem;
        font-weight: 600;

        @include tablet {
           font-size: 3rem;
           }
    }

}