@use './variables' as *;
@use './mixins' as *;

.navbar{
    &__links {
        display: flex;
        width: 100%;

        &--option-2 {
            width: 50%;
            border-bottom: $primary-text-light solid 4px;
            border-spacing: 20px;
            padding-bottom: 10px;
            display: flex;
        
        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: $secondary-text-color;
            margin: auto;
            // padding-bottom: 12px;
            
            @include tablet {
                padding: 20px 30px 24px 30px;
                font-size: 1.3rem;
            }
        }
    }
  }
}

a:link {
    color: $secondary-text-color;
}
a:visited {
    color: $secondary-text-color;
}

a:hover, a:active{
    color: $primary-text-light;
    

}