@use './variables' as *;
@use './mixins' as *;


.navbar {

    background-color: $primary-text-dark ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;

    @include tablet {
       justify-content: left;
       flex-direction: row;
       
    }

    &__logo{
        display: flex;


    img {
        margin: auto;
        padding-top: 20px;

        @include tablet {
            font-size: 2rem;
            margin: 0rem 3.125rem 0 1.875rem;
            padding: 2.625rem .625rem;
        }

        @include desktop {
            font-size: 3rem;
            margin: 0rem 3.125rem 0 6.25rem;
            padding: 0rem .625rem;

        }
    }
    }

    &__links {
        display: flex;
        width: 100%;

        @include tablet {
            width: 20%;
        }
       
        li {
            display: flex;
            width: 100%;
            
        }

        &-item{
           
            &--active {
                border-bottom: $primary-text-light solid 4px ;
               
            }
        }
        
        
        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: $secondary-text-color;
            margin: auto;
            padding-top: 16px;
           

            
            @include tablet {
                padding: 1.875rem 1.875rem 1.5rem 10px;
                font-size: 1.3rem;
            }

            @include desktop {
                padding: 1.25rem 1rem 1.5rem 1.875rem;
                font-size: 1.3rem;
            }
        }

    }
  }


a:link {
    color: $secondary-text-color;
}
a:visited {
    color: $secondary-text-color;
}

a:hover, a:active{
    color: $primary-text-light;
    

}