@use './variables' as *;
@use './mixins' as *;

.navbar {

    background-color: $primary-text-dark ;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
       justify-content: left;
       flex-direction: row;
       
    }

    &__title {
        text-transform: uppercase;
        color: $primary-text-light;
        font-size: 1.8rem;
        font-weight: 300;
        margin: auto;
        padding-top: 20px;

        @include tablet {
            font-size: 2rem;
            margin: 0px 50px 0 30px;
            padding: 20px 10px;
        }

        @include desktop {
            font-size: 3rem;
            margin: 0px 50px 0 100px;
            padding: 20px 10px;

        }
    }

    &__links {
        display: flex;

        
        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: $secondary-text-color;
            margin: auto;
            padding-bottom: 10px;
            
            @include tablet {
                // margin: 0px 20px 10px 0px;
                padding: 20px 30px 24px 30px;
                font-size: 1.3rem;
            }
        }
    }
}

a:link {
    color: $secondary-text-color;
}
a:visited {
    color: $secondary-text-color;
}

a:hover, a:active{
    color: $primary-text-light;
    border-bottom: white 4px solid;

}