@use './variables' as *;
@use './mixins' as *;

.shows {
    
    padding: 1rem;

    &__title {
        font-size: 2rem;
    }

    &__info {

        &-subtitle {
            color: $secondary-text-color;
        }
    }
}