@use './variables' as *;
@use './mixins' as *;

.shows {
    
    // padding-left: 1.5rem;
    width: 100%;
   
    @include desktop {
        display: flex;
        
    }

    &__sub-date {

        display: none;
        font-size: 1.5rem;

        @include tablet {
            display: initial;
            color: $secondary-text-color;
            position: absolute;
            left: 2.5%;
        }

        @include desktop {
            display: initial;
            color: $secondary-text-color;
            margin: 3rem;
            position: absolute;
            top: 93%;
            left: 23.5%;
            padding-bottom: 3rem;
        }
    }

    &__sub-venue {

        display: none;
        font-size: 1.5rem;

        @include tablet {
            display: initial;
            color: $secondary-text-color;
            position: absolute;
            left: 27.5%;
        }

        @include desktop {
            display:initial;
            color: $secondary-text-color;
            margin: 3rem;
            position: absolute;
            top: 93%;
            left: 42%;
            padding-bottom: 3rem;
        }
    }

    &__sub-location {

        display: none;
        font-size: 1.5rem;

        @include tablet {
            display: initial;
            color: $secondary-text-color;
            position: absolute;
            left: 52.5%;
        }

        @include desktop {
            display: initial;
            color: $secondary-text-color;
            margin: 3rem;
            position: absolute;
            top: 93%;
            left: 61.5%;
            padding-bottom: 3rem;
        }
    }
    &__container {
        margin: auto;

        @include desktop{
        margin: auto;
        width: 80%;
        padding-top: 6rem;
        }
    }

    &__title {
        font-size: 3rem;
        padding: 3rem 1rem 2rem 1rem; 
        font-weight: 500;

        @include tablet {
            padding: 1rem;
            
        }

        @include desktop {
            padding: 5rem 8rem 0 7rem;
        }
    }

    &__info {

        display: flex;
        flex-direction: column;
        border-bottom: $divider-line solid 2px;
        padding-bottom: .5rem;

        @include tablet {
             flex-direction: row;

            &:nth-child(1) {
                padding-top: 2rem;
            }
        }

        @include desktop {
            &:nth-child(1) {
                padding-top: 5rem;
            }
        }

        li {
            list-style-type: none;
            padding-left: 1rem;
          
            @include tablet { 
            text-align: left;
            margin: auto;
            padding: 0;
            }

            
           
        }
        &-subtitle {
            color: $secondary-text-color;
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1rem;

          @include tablet {
            display: none;
           
          }
        }

        &-date {
            font-weight: 500;
            padding-bottom: 1rem;
            font-size: 1.5rem;

            @include tablet {
               padding: 0rem;   
               width: 20%;
              }

              @include desktop {
                width:20%;
              }
        }

        &-venue {
            padding-bottom: 1rem;
            justify-content: left;
            text-align: left;
            font-size: 1.5rem;
            

            @include tablet {
                margin: auto;
                display: inline-flex;
                width: 20%;
                
         }
         @include desktop {
            flex-direction: column;
            width: 20%;
          }
        }

        &-city {
            
            padding-bottom: 1rem;
            font-size: 1.5rem;
            text-align: left;

            @include tablet {
                margin: auto;
                display: inline-flex;
                width: 20%;
               }

               @include desktop {
                width: 20%;
               }
       }

        button {
            align-content: center;
            background-color: $primary-text-dark;
            color: $primary-text-light;
            width: 93%;
            height: 6vh;
            margin: 1rem auto;
            padding: .5rem;
            border-radius: .5rem;
            font-size: 1rem;


            @include tablet {
                flex-direction: row;
                width: 20%;
            }
        }
    }

    @include desktop {
        display: flex;
    }
   
}