//Primary Colors
$primary-text-dark: #323232;
$secondary-text-color: #AFAFAF;
$primary-text-light: #FFFFFF;

//Secondary Colors 
$cta-hover: #000000;
$divider-line: #E1E1E1;
$alt-light-background: #FAFAFA;

//screen sizes

$tablet-width: 768px;
$desktop-width: 1280px;
