* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  max-width: 1920px;
}

.navbar {
  background-color: #323232;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .navbar {
    justify-content: left;
    flex-direction: row;
  }
}
.navbar__logo {
  display: flex;
}
.navbar__logo img {
  margin: auto;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .navbar__logo img {
    font-size: 2rem;
    margin: 0rem 3.125rem 0 1.875rem;
    padding: 2.625rem 0.625rem;
  }
}
@media (min-width: 1280px) {
  .navbar__logo img {
    font-size: 3rem;
    margin: 0rem 3.125rem 0 6.25rem;
    padding: 0rem 0.625rem;
  }
}
.navbar__links {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__links {
    width: 20%;
  }
}
.navbar__links li {
  display: flex;
  width: 100%;
}
.navbar__links-item--active {
  border-bottom: #FFFFFF solid 4px;
  color: #FFFFFF;
  font-weight: 500;
}
.navbar__links a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: auto;
  padding-top: 16px;
}
.navbar__links a .activeNav {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .navbar__links a {
    padding: 1.875rem 1.875rem 1.5rem 10px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .navbar__links a {
    padding: 1.25rem 1rem 1.5rem 1.875rem;
    font-size: 1.3rem;
  }
}

a:link {
  color: #AFAFAF;
}

a:visited {
  color: #AFAFAF;
}

a:hover, a:active {
  color: #FFFFFF;
}

.hero {
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: left;
}
@media (min-width: 768px) {
  .hero {
    padding: 0rem 2.25rem;
  }
}
.hero h1 {
  color: #FFFFFF;
  margin: auto 1.25rem;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }
}
.hero__index {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/Images/hero-bio.jpg);
  height: 40vh;
}
.hero__shows {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 55vh;
}
@media (min-width: 768px) {
  .hero__shows {
    padding-top: 2rem;
    height: 75vh;
  }
}
@media (min-width: 1280px) {
  .hero__shows {
    flex-direction: row;
    height: 80vh;
  }
}
.hero__title {
  color: #FFFFFF;
  padding: 3rem 1rem 1rem 2rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 3rem;
  }
}
.hero__title-container {
  display: block;
  width: 75%;
}
@media (min-width: 768px) {
  .hero__title-container {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .hero__title-container {
    padding-top: 4rem;
    width: 60%;
  }
}
.hero__title-sub {
  color: #FFFFFF;
  padding: 1rem 3rem 1rem 2rem;
  font-size: 2.7rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .hero__title-sub {
    font-size: 5rem;
  }
}
@media (min-width: 1280px) {
  .hero__title-sub {
    font-size: 6rem;
    font-weight: 500;
  }
}
.hero iframe {
  width: 90%;
  height: 23vh;
  margin: auto;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 2%;
}
@media (min-width: 768px) {
  .hero iframe {
    width: 60%;
    margin: 1rem 1rem 3rem 1rem;
    padding: 1rem 0rem 2rem 0rem;
    height: 30vh;
  }
}
@media (min-width: 1280px) {
  .hero iframe {
    margin-top: 15rem;
    height: 25vh;
    border-radius: 6%;
    width: 35%;
  }
}

.footer {
  background: #323232;
  color: #FFFFFF;
  position: relative;
  margin-top: 1rem;
  font-size: 1.5rem;
  overflow-x: hidden;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: column;
    padding-left: 4.25rem;
  }
}
.footer__container-title {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 2.5rem;
  padding-bottom: 1.25rem;
}
.footer__container-box {
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container-box {
    flex-direction: row;
    padding: 1.5rem 1.875rem 1rem 0;
  }
}
.footer__socials--icon {
  margin: 0.3125rem 1.875rem 0rem 0rem;
  height: 28px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .footer__contacts {
    flex-direction: row;
    padding-right: 1rem;
    padding-bottom: 1rem;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1280px) {
  .footer__contacts {
    width: 70%;
  }
}
.footer__contacts-description {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer__contacts-description {
    margin-right: 3rem;
    flex-wrap: nowrap;
    min-width: 35%;
  }
}
.footer__contacts-name {
  font-weight: 600;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__contacts-name {
    flex-wrap: nowrap;
  }
}
.footer__contacts-address {
  padding-bottom: 1rem;
  font-weight: 400;
}
.footer__contacts-email {
  padding-bottom: 20px;
  font-weight: 400;
}
.footer__logo {
  margin-top: 40px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    right: 5%;
    top: 3%;
  }
}

.shows {
  width: 100%;
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
  }
}
.shows__sub-date {
  display: none;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .shows__sub-date {
    display: initial;
    color: #AFAFAF;
    position: absolute;
    left: 2.5%;
  }
}
@media (min-width: 1280px) {
  .shows__sub-date {
    display: initial;
    color: #AFAFAF;
    margin: 3rem;
    position: absolute;
    top: 93%;
    left: 23.5%;
    padding-bottom: 3rem;
  }
}
.shows__sub-venue {
  display: none;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .shows__sub-venue {
    display: initial;
    color: #AFAFAF;
    position: absolute;
    left: 27.5%;
  }
}
@media (min-width: 1280px) {
  .shows__sub-venue {
    display: initial;
    color: #AFAFAF;
    margin: 3rem;
    position: absolute;
    top: 93%;
    left: 42%;
    padding-bottom: 3rem;
  }
}
.shows__sub-location {
  display: none;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .shows__sub-location {
    display: initial;
    color: #AFAFAF;
    position: absolute;
    left: 52.5%;
  }
}
@media (min-width: 1280px) {
  .shows__sub-location {
    display: initial;
    color: #AFAFAF;
    margin: 3rem;
    position: absolute;
    top: 93%;
    left: 61.5%;
    padding-bottom: 3rem;
  }
}
.shows__container {
  margin: auto;
}
@media (min-width: 1280px) {
  .shows__container {
    margin: auto;
    width: 80%;
    padding-top: 6rem;
  }
}
.shows__title {
  font-size: 3rem;
  padding: 3rem 1rem 2rem 1rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__title {
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding: 5rem 8rem 0 7rem;
  }
}
.shows__info {
  display: flex;
  flex-direction: column;
  border-bottom: #E1E1E1 solid 2px;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .shows__info {
    flex-direction: row;
  }
  .shows__info:nth-child(1) {
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows__info:nth-child(1) {
    padding-top: 5rem;
  }
}
.shows__info li {
  list-style-type: none;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .shows__info li {
    text-align: left;
    margin: auto;
    padding: 0;
  }
}
.shows__info-subtitle {
  color: #AFAFAF;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .shows__info-subtitle {
    display: none;
  }
}
.shows__info-date {
  font-weight: 500;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .shows__info-date {
    padding: 0rem;
    width: 20%;
  }
}
@media (min-width: 1280px) {
  .shows__info-date {
    width: 20%;
  }
}
.shows__info-venue {
  padding-bottom: 1rem;
  justify-content: left;
  text-align: left;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .shows__info-venue {
    margin: auto;
    display: inline-flex;
    width: 20%;
  }
}
@media (min-width: 1280px) {
  .shows__info-venue {
    flex-direction: column;
    width: 20%;
  }
}
.shows__info-city {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: left;
}
@media (min-width: 768px) {
  .shows__info-city {
    margin: auto;
    display: inline-flex;
    width: 20%;
  }
}
@media (min-width: 1280px) {
  .shows__info-city {
    width: 20%;
  }
}
.shows__info button {
  align-content: center;
  background-color: #323232;
  color: #FFFFFF;
  width: 93%;
  height: 6vh;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .shows__info button {
    flex-direction: row;
    width: 20%;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
  }
}/*# sourceMappingURL=shows.css.map */